<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Vapasi</title>
</head>
<body>
<div th:text="${welcomemessage}"/>

<br/>

<form action="#" th:action="@{/flights/search}" th:object="${searchCriteria}" method="post">

    <select class="form-control" id="from" th:field="*{source.shortName}" name="from">

        <option th:each="airportMapEntry : ${airports}" th:value="${airportMapEntry.value.shortName}" th:text="${airportMapEntry.value.name}"></option>
    </select>
    <select class="form-control" id="to" th:field="*{destination.shortName}" name="to">

        <option th:each="airportMapEntry : ${airports}" th:value="${airportMapEntry.value.shortName}" th:text="${airportMapEntry.value.name}"></option>
    </select>

    <select class="form-control" id="travelclass" th:field="*{travelClass}" name="travelClass">

        <option th:each="travelClass : ${T(airline.models.TravelClasses).values()}" th:value="${travelClass}" th:text="${travelClass}"></option>
    </select>

    <input type="number" min="1" th:field="*{requestedTravellers}"/>

    <input type="submit" value="Search"/>

</form>
</body>
</html>
